{
  "id": "com.yourdomain.app",
  "version": "{{{version}}}",
  "vendor": "{{{vendor}}}",
  "type": "web",
  "main": "index.html",
  "title": "{{{name}}}",
  "icon": "{{{icon}}}",
  "largeIcon": "{{{largeicon}}}",
  "resolution": "{{{resolution}}}",
  "disableBackHistoryAPI": true
}