{
  "id": "{{{id}}}",
  "version": "{{{version}}}",
  "vendor": "{{{vendor}}}",
  "type": "web",
  "main": "index.html",
  "title": "{{{name}}}",
  "icon": "{{{icon}}}",
  "largeIcon": "{{{largeicon}}}",
  "resolution": "{{{resolution}}}",
  "bgColor": "{{{bgColor}}}",
  "iconColor": "{{{iconColor}}}",
  "bgImage": "{{{bgImage}}}",
  "splashBackground": "{{{splashBackground}}}",
  "disableBackHistoryAPI": true
}