{
  "id": "{{{id}}}",
  "version": "{{{version}}}",
  "vendor": "{{{vendor}}}",
  "type": "web",
  "main": "index.html",
  "title": "{{{name}}}",
  "icon": "{{{icon}}}",
  "largeIcon": "{{{largeicon}}}",
  "resolution": "{{{resolution}}}",
  "bgColor": "{{{bgcolor}}}",
  "iconColor": "{{{iconcolor}}}",
  "bgImage": "{{{bgimage}}}",
  "splashBackground": "{{{splashbackground}}}",
  "disableBackHistoryAPI": true
}